.rounds-list .list-group { border: 1px solid #ddd; border-radius: 0px; }
.rounds-list .list-group-item { padding: 4px 20px; border: none; margin-bottom: 0px; }
.rounds-list .list-group-item.pending { border-bottom: 1px solid #ddd; }
.list-group-item.active a { color: inherit; }
.container { margin-top: 1em; }
.score-form td { vertical-align: middle; }
form .modal-dialog { width: 800px; }
form.filterForm { margin-bottom: 0; }
.non-fixed-modal { position: absolute; }
.non-fixed-modal .modal-body { max-height: none; }
.filterForm input { width: 2em; margin: 0; }
.modal-header .close { margin-left: 1em; }
input.team-score { width: 3em; margin-bottom: 10px; }
a { cursor: pointer; }
