<tr>
  <td><%= player_game.game.round.number -%></td>
  <td><%= player_game.tossups_heard -%></td>
  <% for type in types -%>
  <td class="number"><%= player_game.stat_line_for(type) -%></td>
  <% end -%>
  <td><%= player_game.points -%></td>
</tr>
