body
{
	font-family: "Arial",sans-serif;
	font-size: 9pt;
	margin: 20px;
}

.primary_name
{
	font-weight: bold;
}
.secondary_name
{
	text-transform: uppercase;
	font-size: 7pt;
}

table.round,table.standings
{
	width: 100%;
}

table {
	margin-top: 6pt;
}

div.roundscores {
	border: 1px dotted black;
	margin: 10px 0px;
}

div.roundscores h2 {
	margin: 10px;
}

div.roundscores table {
	float: left;
	margin: 10px;
}

h1
{
	font-size: 36pt;
	margin: 10px 0px;
}

h2
{
	font-size: 18pt;
	margin: 10px 0px;
}

td
{
	padding: 3pt;
	border: 1pt dotted #CCC;
}

th
{
	font-weight: bold;
	text-align: left;
	border-bottom: 1pt solid black;
}

td.number
{
	font-family: "Bitstream Vera Sans Mono",monospace;
	text-align:right;
	font-size: 8pt;
	/*	width: 75px;*/
}

th.number
{
	text-align: right;
	/*	width: 75px;*/
}

tr.row2
{
	background-color: #CCC;
	color: #000;
}
tr.row1
{
	background-color: #FFF;
	color: #000;
}
tr a {
	text-decoration: none;
	color: #000;
}
td.teamname {
	font-weight: bold;
}
table.standings a, #nav a
{
	text-decoration: none;
	color: inherit;
}
#nav-top
{
	display: none;
}

#footer
{
	float: right;
}

#footer img { border: none; }

.load { display: none; }