<ul>
    <li><%= link_to "Edit Tournaments" :action => "edit_tournaments" -%></li>
    <li><%= link_to "Edit Teams" :action => "edit_teams" -%></li>
    <li><%= link_to "Edit Players" :action => "edit_players" -%></li>
</ul>